/* PC */
@media screen and (min-width: 992px) {
  .mobile-header {
    display: none;
  }
  .nav-item-link--show-on-mobile {
    display: none;
  }
}
/* Tablet or mobile */
@media screen and (max-width: 991px) {
  .navbar {
    position: relative;
  }
  .navbar ul {
    display: none;
  }
  .navbar .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .toggle-menu svg {
    width: 24px;
  }
  .menu-overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s ease;
  }
  .menu-drawer {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 40px;
    position: fixed;
    inset: 0 40% 0 0;
    background: #fff;
    z-index: 2;
    transform: translateX(-100%);
    transition: 0.5s ease;
  }
  .menu-drawer .menu-nav-list {
    margin-top: 32px;
  }
  .menu-drawer .menu-nav-list a {
    display: block;
    color: #4f5361;
    font-size: 1.6rem;
    font-weight: 500;
    padding: 8px 14px;
  }
  .menu-checkbox:checked ~ .menu-overlay {
    opacity: 1;
    visibility: visible;
  }
  .menu-checkbox:checked ~ .menu-drawer {
    transform: translateX(0);
  }
  .hero-img {
    display: none;
  }

  .hero-wrap .info {
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }
  .hero-wrap .desc {
    width: 80%;
    margin: 30px auto auto;
  }
  .client .images {
    flex-wrap: wrap;
    justify-content: center;
  }
  .guide-item {
    margin: 0;
    flex: 1;
  }
  .featured .list {
    grid-template-columns: 1fr 1fr;
  }
  .stats .row {
    flex-direction: column;
  }
  .stats .img-block,
  .stats .info {
    width: 100%;
  }
  .stats .info {
    padding: 0;
    order: 1;
  }
  .stats .img-block {
    order: 2;
    margin-top: 80px;
  }
  .stats .sub-title {
    width: 70%;
  }
  .stats .info .desc {
    width: 100%;
  }
  .stats .row-qty {
    flex-direction: row;
  }
  .stats .qty {
    font-size: 5rem;
  }
  .stats .qty-desc {
    font-size: 1.5rem;
  }
  .subscription .image {
    display: none;
  }
  .footer .row-top {
    display: grid;
    grid-template-columns: 1fr 2fr;
    row-gap: 80px;
  }
}
/* Tablet */
@media screen and (min-width: 768px) and (max-width: 991px) {
  .show-on-mobile {
    display: none !important;
  }
}
/* Mobile */
@media screen and (max-width: 767px) {
  .hide-on-mobile {
    display: none !important;
  }
  .menu-drawer {
    inset: 0 25% 0 0;
  }
  .action {
    display: none;
  }
  .hero-wrap .info {
    width: 90%;
  }
  .hero-wrap .sub-title {
    font-size: 1.5rem;
    font-weight: 400;
  }
  .hero-wrap .title {
    font-size: 5.9rem;
    font-weight: 600;
  }
  .hero-wrap .desc {
    font-size: 1.5rem;
    font-weight: 400;
  }
  .client .images {
    row-gap: 20px;
  }
  .list-guide {
    margin-top: 50px;
    flex-direction: column;
    row-gap: 20px;
  }
  .featured .list {
    grid-template-columns: 1fr;
  }
  .featured-cta {
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }
  .stats .sub-title {
    width: 100%;
  }
  .stats .img-block .images {
    width: calc(100% - 20px);
    margin-left: 20px;
  }
  .stats .stats-trend {
    padding: 20px 10px;
  }
  .stats-trend .row{
    flex-direction: row;
  }
  .stats-trend .separate{
    margin-top: 15px;
  }
  .stats .row-qty{
    margin-top: 40px;
  }
  .stats .row-qty{
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
  }
  .stats .qty-desc{
    margin-top: 15px;
  }
  .subscription .info{
    padding: 0 32px;
  }
  .footer .row-top{
    column-gap: 50px;
  }
  .footer .row-bottom{
    flex-direction: column;
    align-items: flex-start;
    row-gap: 20px;
  }
}
